{% extends "layout.html" %}
{% block content %}
{% if loggedin %}
<h1>Dine Trackers</h1>
<div class="container panel">
  {% for i in trackers %}
  <article class="media content-section" action="/vistracker?id={{ i['id'] }}" method="post">
    <div class="media-body">
      <p class="article-content">
        {{ i['navn'] }}
      </p>
      <img src="/fig" alt="" width="100%">
      {% if show_but %}
      <a href="/vistracker?id={{ i['id'] }}">Klik for at gå til tracker</a>
      <!---<form class="form-control" action="vistracker" method="get">
          <button class="form-control" name="id" value="{{ i['id'] }}" type="submit">Nyt input</button>
      </form>--->
      {% endif %}
      {% if not show_but %}
      <form class="form-control" action="/vistracker?id={{ i['id'] }}" method="post">
        <label class="form-control-static" for="text">Indtast måledata:</label>
        <input type="{{ type_var }}" name="input" id="input" tabindex="1" class="form-control" placeholder="1234" value=""  required>
        <!-- <a href="/update_table" method="post" >Send Data</a> -->
        <button class="form-control" type="submit" name="button">Send Data</button>
      </form>
      {% endif %}

    </div>
  </article>
  {% endfor %}


<!-- </div>

<h1>Dine idéer</h1>
<div class="container panel">
  {% for i in ideas %}
  <article class="media content-section">
    <div class="media-body">
      <small class="text-muted">{{ i['date'] }}</small>
      <p class="article-content">
        {{ i['text'] }}
      </p>
      <form class="form-control" action="visideer" method="get">
          <button class="form-control" name="id" value="{{ i['id'] }}" type="submit">Se mere</button>
      </form>

    </div>
  </article>
  {% endfor %} -->
</div>
{% endif %}
{% endblock content %}
