{% extends "layout.html" %}
{% block content %}
{% if loggedin %}
<h1>Dine Trackers</h1>
<div class="container panel">
  {% for i in trackers %}
  <article class="media content-section">
    <div class="media-body">
      <p class="article-content">
        {{ i['navn'] }}
      </p>
      {% if show_but %}
      <a href="/vistracker?id={{ i['id'] }}">Klik for at gå til tracker</a>
      <!---<form class="form-control" action="vistracker" method="get">
          <button class="form-control" name="id" value="{{ i['id'] }}" type="submit">Nyt input</button>
      </form>--->
      {% endif %}
      {% if not show_but %}
      <img src="/fig" alt="" width="100%">
      <form class="form-control" action="/vistracker?id={{ i['id'] }}" method="post">
        {% if input_var == 0 %}
        <label class="form-control-static" for="text">Indtast måledata:</label>
        <input type="{{ type_var }}" name="input" id="input" tabindex="1" class="form-control" placeholder="1234" value=""  required>
        {% elif input_var == 2 %}
        <label class="form-control-static" for="text">Vælg en emoji</label>
        <br>
        <input type="radio" id="Meget_Glad" name="emoji" value="0"  required>
        <label for="Meget_Glad"><p>&#128512;</p></label>
        <input type="radio" id="Glad" name="emoji" value="1"  required>
        <label for="Glad"><p>&#128522;</p></label>
        <input type="radio" id="Normal" name="emoji" value="2"  required>
        <label for="cirkel">Cirkeldiagram</label>
        {% endif %}
        <button class="form-control" type="submit" name="button">Send Data</button>
      </form>
      {% endif %}


    </div>
  </article>
  {% endfor %}


<!-- </div>

<h1>Dine idéer</h1>
<div class="container panel">
  {% for i in ideas %}
  <article class="media content-section">
    <div class="media-body">
      <small class="text-muted">{{ i['date'] }}</small>
      <p class="article-content">
        {{ i['text'] }}
      </p>
      <form class="form-control" action="visideer" method="get">
          <button class="form-control" name="id" value="{{ i['id'] }}" type="submit">Se mere</button>
      </form>

    </div>
  </article>
  {% endfor %} -->
</div>
{% endif %}
{% endblock content %}
